html{
  font-size: 18px;
  font-family: 'Times New Roman', sans-serif;
  color: #6480f3;
}

header{
  width: 100%;
  height: 64px;
}

header .top{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

.logo{
  display: flex;
  align-items: center;
}
.logo h4{
  padding-left: .25rem;
}
.logo img{
  width: 4rem;
  height: 4rem;
}

nav ul a{
  padding-left: 16px;
  color: gray;
}

.colmar{
  font-weight: bold;
  font-size: larger;
}
.academy{
  color: gray;
  font-weight: normal;
  font-size: larger;
}
.banner-box{
  background-color: #d4cfcf;
  background-size: cover;
  width: 100%;
}
.banner-content{
  display: flex;
  align-items: center;
  padding: 32px 24px;

}
.banner-content img{
  width: 60%;
}
.banner-text{
  display: block;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}
.banner-text h1{
  font-size:45px;
}
.banner-text h2{
  font-weight: normal;
}
.start_button{
  padding: 1px 0;
  width: 100%;
  text-align: center;
  background-color: #6480f3;
  color: white;
  border-radius: 25px;
}
.start_button:hover{
  background-color: white;
  color: #6480f3;
}
.main-box{
  width: 100%;
}
.main-content{
  display: flex;
  align-items: center;
}
.main-content img{
  width: 60%;
}
.main-left{
  padding: 32px 24px;
}
.main-left h2{
  font-size: 2.1rem;
}
.main-left p{
  color: gray;
}
.main-left .text{
  max-width: 60%;
}
.text p{
  font-weight: lighter;
}
.main-left .Emanuel{
  margin: 36px 0;
  font-size: 14px;
  color: #6480f3;
}
