html{
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  color: #1e379e;
}

p{
  color: #8a8787;
}

h4{
  color: gray;
}

header{
  width: 100%;
  height: 64px;
}

header .top{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

.logo{
  display: flex;
  align-items: center;
}
.logo h4{
  padding-left: .25rem;
}
.logo img{
  width: 3rem;
  height: 3rem;
}
.mobile-logo{
  display: none;
}





nav ul a{
  padding-left: 16px;
  color: gray;
}

.colmar{
  font-weight: bold;
  font-size: larger;
}
.academy{
  color: gray;
  font-weight: normal;
  font-size: larger;
}
.banner-box{
  background-color: #d4cfcf;
  background-size: cover;
  max-width: 100%;
  border: #c7c8cc solid;
}
.banner-content{
  display: flex;
  align-items: center;
  padding: 32px 24px;

}
.banner-content img{
  width: 60%;
}
.banner-text{
  display: block;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: 62px;
}
.banner-text h1{
  font-size:45px;
}
.banner-text h2{
  font-weight: normal;
}
.start_button{
  padding: 1px 0;
  width: 100%;
  text-align: center;
  background-color: #6480f3;
  color: white;
  border-radius: 25px;
}
.start_button:hover{
  background-color: white;
  color: #6480f3;
}
.main-box{
  max-width: 100%;
}
.main-content{
  display: flex;
}
.main-left{
  max-width: 60%;
  padding: 32px 24px;
}
.main-left img{
  width: 97%;
}
.main-left h2{
  font-size: 2.1rem;
}
.main-left p{
  color: gray;
}

.text p{
  font-weight: lighter;
}
.main-left .Emanuel{
  margin: 36px 0;
  font-size: 16px;
  color: #6480f3;
}
.information-box{
  width: 40%;
  border: #c7c8cc solid;
  background-color: white;
  border-top: none;
  border-bottom: none;
}
.box-outline{
  padding: 16px 0;
}
.info1-box{
  display: flex;
  flex-direction: row;
  border: #c7c8cc solid;
  border-top: none;
  border-right: none;
  border-left: none;
  align-items: center;
}
.info1-box img{
  height: auto;
  width: 40%;
  padding: 14px 16px;

}
.info1-box .mobile{
  display: none;
}
.info1-box .infotext{
  width: 65%;
}
.infotext p{
  margin-top: 8px;
}
.info1-box .moble{
  display: none;
}

.datetime{
  color: #8a8787;
}
.info1-box.backgroundcolor{
  background-color: #c7c8cc;
  padding-bottom: 20px:

}
.course-boxes{
  margin-top: 32px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.main-course{
  padding: 32px 72px;
  background-color: #c7c8cc;
}
.main-course h1{
  text-align: center;
}
.courses img{
  width: 100%;
}
.courses{
  flex-direction: column;
  width: 32%;
  background-color: white;
  margin-top: 32px;
}
.course-details{
  margin: 16px 16px;
}
.computer-art-column{
  margin-bottom: 24px;
}
.paragraph-container{
  font-size: 16px;
  font-weight: normal;
  color: #8a8787
}
.main-thesis{
  padding: 32px 0;
  border: #c7c8cc solid;
  border-left: none;
  border-right: none;
}
.main-thesis h1{
  text-align: center;
  border:
}
.thesis-boxes{
  display: flex;
  margin-top: 32px;
}
.video{
  max-width: 60%;
  padding: 0 24px;
}
.video video{
  width: 100%;
  height: auto;

}
.thesis-details{
  max-width: 40%;
}
.fisma{
  background-color: #c7c8cc;
}
.design{
  display: flex;
  align-items: center;
}
.pic{
  height: auto;
  padding: 16px;
}
.thesis-details .text{
  padding-right: 16px;
}
footer{
  margin: 16px 24px;
  display: flex;
  justify-content: space-between;
  color: #8a8787;
}




/*Mobile-Verison*/

@media only screen and (max-width:768px){
  header{
    height:64px;
  }
  body{
    margin: auto;
  }
  header .top, .logo{
    display: block;
  }
  .logo .mobile-logo{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
  }
  .colmar, .academy,.desktop, nav{
    display: none;
  }
  .mobile-logo img{
    height: 40px;
  }
  .banner-box{
    border: none;
  }
  .banner-content{
    display: block;
    padding: 0;
  }
  .banner-content img{
    width: 100%;
  }
  .banner-text{
    width: auto;
    max-width: none;
    margin: 32px 16px;
    padding-bottom: 32px;
  }
  .banner-text h1{
    font-size: 35px;
  }
  .main-left{
    display: none;
  }
  .information-box{
    width: 100%;
    border: 0;
    padding: 0 16px;
  }
  .box-outline{
    padding: 16px 0px;
  }
  .info1-box{
    display: block;
    border: 0;
    padding: 16px;
  }
  .info1-box.backgroundcolor{
    background-color: white;
  }
  .info1-box .mobile{

    width: 100%;
    padding: 0;
  }
  .info1-box .desktop img{
    display: none;
  }
  .infotext{
    padding: 0 16px;
  }
  .read, .infotext .paragraph-container{
    color: blue;
    display: block;
    font-size: 18px;
  }
  .infotext .paragraph-container{
    color: gray;
  }
  .main-course{
    padding: 32px 16px;
    background-color: white;
    border: #e4e0e0 solid;
  }
  .courses{
    width: 100%;
    margin-top: 8px;
  }
  .course-boxes{
    display: block;
  }
  .courses img {
    display: none;
  }
  .courses h3, p{
    display: none;
  }
  .course-details{
    background-color: #d4cfcf;
    margin: 0;
    padding: 16px;
  }
  .course-details h2{
    font-weight: normal;
  }
  .thesis-boxes{
    margin-bottom: 24px;
  }
  .thesis-details, .text h2{
    display: none;
  }
  .video{
    max-width: 100%;
    padding: 0;
  }
  footer{
    margin: 16px;
  }
  footer .terms{
    display: none;
  }
}
